* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 1px;
}

.random-drink-btn {
  padding: 20px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 10px;
}
.alcoholic-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.indivivual-drink {
  background-color: #222831e3;
  padding: 50px;
  color: white;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-icon {
  width: 34px;
}
#menu > div > button > i {
  color: white !important;
  font-size: 20px;
}

.mobile-link {
  color: white;
  text-decoration: none;
  padding: 16px;
}
.home-outer {
  background-image: url("./assets/images/cocktail.jpg");
  background: linear-gradient(
      0deg,
      rgba(18, 18, 18, 0.64),
      rgba(19, 19, 20, 0.233)
    ),
    url("./assets/images/cocktail.jpg");
  min-height: 90vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.recipe-btn {
  background-color: #ff5733;
  color: white;
}
.rounded-corners {
  border-radius: 20px;
}
.roundedbtn {
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.back-btn {
  padding: 8px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: fit-content;
  background-color: black;
  color: white;
  align-self: flex-end;
  margin-bottom: 10px;
}
.nav {
  background-color: #b3302a;
  color: white;
  align-items: center;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.nav a {
  color: white;
  padding: 8px;
  text-decoration: none;
}
a:focus {
  outline: solid 3px lime;
  border-radius: 4px;
}

footer {
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #b3302a;
  color: white;
}

.drink-name-form {
  display: flex;
  height: fit-content;
  background: #d2453e;
  padding: 20px;
  gap: 10px;
  align-items: center;
  width: fit-content;
  margin-top: 14px;
  justify-self: center;
}

.drink-name-form input {
  width: 100%;
  margin: 20px 0px 20px 0px;
  padding: 10px;
}

.drink-name-form input:focus {
  outline: solid 3px lime;
  border-radius: 4px;
}

.drink-name-form label {
  color: white;
}

.drink-name-form button {
  color: white;
  background-color: black;
  padding: 20px;
  width: 50%;
  height: fit-content;
}

.drink-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.drink-container-random{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 15px;
}

  .test{
    grid-column-start: 1;
    grid-column-end: -1;
    width: fit-content;
  }


.drink-card {
  background-color: #000000d4;
  color: white;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  margin: 14px;
}

.drink-card-error {
  background-color: #000000d4;
  color: white;
  padding: 20px;
  grid-column-start: 2;
  margin-bottom: 20px;
  display: inline;
}

.drink-card-error p {
  font-weight: bold;
}
.drink-image {
  margin-bottom: 20px;
  border-radius: 10px;
  align-self: center;
}

.topnav {
  background-color: #333;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04aa6d;
  color: white;
}

@media screen and (min-width: 1000px) {
  #menu > div > button > i {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .drink-name-form {
    margin: 14px 14px 14px 14px;
    width: 100%;
  }
  .link-navbar {
    display: none;
  }
  .drink-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .home-outer {
    background-image: url("./assets/images/mobile.jpg");
    background-position: center;
    background-size: cover;
  }
}
